body {
  background-color: aquamarine;
}
header * { display: inline; 
}
header {
  background-color:rgb(167, 204, 237);
  justify-content: center;
  text-align: left;
  padding: 1%;

  font-family: "Segoe UI",Arial,sans-serif;
}
footer {
  background-color:rgb(167, 204, 237);
  justify-content: center;
  text-align: center;
}




.navbar > li {
    display: inline;
}  
.navbar li+li::before {
  padding: 30px;
  content: "";
}
.navbar {
  padding-left: 40%;

} 
.navbar a {
  text-decoration: none;
  color: rgb(157, 250, 250);
  font-size: 25px;   

}
.navbar a:hover {
  color: rgb(60, 0, 255);
}
  


.item {
    height: 300px;
    width: 300px;
}

.container{
  background-color: white;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 20px;
  font-family: "Segoe UI",Arial,sans-serif;
  
  
}