
body {
  background-color: rgb(230, 230, 230);
  height:100%;
  width: 100%;
  color: black;
}


header * { 
  display: inline; 
}
a {
  text-decoration: none;
}
header {
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: 2px;
  padding-top: 7px;
  padding-bottom: 2px;
  border-radius:7px;
  background-color:rgb(116, 116, 116);
  min-width: 100%;

  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 15px;
  display:  inline-flex;

  justify-content: space-between;

  align-items: CENTER;



  

}


#logo{

  width: 200px;
  position: relative;
  left: 5%;
  object-fit: cover; 
  margin-right: 100px;
}
footer {
  background-color:rgb(167, 204, 237);
  justify-content: center;
  text-align: center;
}
.navbar > li {
    display: inline;
}  
.navbar li+li::before {
  padding: 30px;
  content: "";
}
.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;   

  
}

.navbar a:hover {
  color: rgb(163, 163, 163);
}
.item {
    height: 300px;
    width: 300px;
    border-radius: 6px;
    object-fit: cover;
    border: 2px solid black;
    margin: 3%;
}
.container{
  margin-left: 3px;
  margin-right: 3px;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 15 px;

  font-family: "Segoe UI",Arial,sans-serif;

}

*{
  margin:0; padding:0;

  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}

#collectie{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.navbutton{
  

  padding: 10px;

}

.navbar{
  white-space: nowrap;


}


      


/* button */ 

.pushable {
  background:rgb(129, 158, 184);
  border: none;
  border-radius: 12px;
  padding: 0px;
  cursor: pointer;
}
.front {
  display: inline-block;
  padding: 12px 42px;
  border-radius: 12px;

  background: rgb(167, 204, 237);
  color: white;
  transform: translateY(-4px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.front {
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

/* shyguys */

#shyguy{
    max-width: 800px;
    max-height: 40px;
    left: -100px;
    position: absolute;
    top: 30px;
    animation: shyguymove 7s linear;
    z-index: 3;
}

@keyframes shyguymove{
    from{transform: translateX(10px);}
    to{transform: translateX(2000px);}
}
